body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}